<p>
  <strong>Content:</strong>
 
  <%=  link_to 'Cv',  @request.content %>
</p>

<p>
  <strong>Worker:</strong>
  <%= @request.worker.email %>
</p>

<p>
  <strong>Company:</strong>
  <%= @request.company.email %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
