<div class="container">
    <h3>My Profile</h3>
    <% @companies.each do |company|%>
        <%if current_company.id == company.id%>
        <%if company.image.url.present?%>
            <%=  image_tag(company.image.url(:medium)) %><br>
        <%else%>
        <%end%>
        Username: <%=company.username%><br>
        Email: <%=company.email%><br>
        Location: <%=company.location%><br>      
       
        Description: <%=company.description%><br>
        <%else%>
        <%end%>
    <%end%>
    <%= link_to  "Back", jobs_path, class:'btn btn-dark' %>
</div>